<style>
    
</style>

<div style="display: block; text-align: center;">
    <img src="{{ section.settings.menu-img.src | img_url: '400x400'}}" alt="img">
    <ul>
        {% for link in linklists[section.settings.custom_link_list].links %}
            <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>


{% schema %}
    {
    "name": "menu-section",
    "settings": [
    {
    "type": "link_list",
    "id": "custom_link_list",
    "label": "Menu",
    "info": "Custom menu "
    },
    {
    "type": "image_picker",
    "id": "menu-img",
    "label": "Image du menu"
    }
    ],
    "presets": [
    {
    "name": "Custom menu",
    "category": "IIM shopify"
    }
    ]
    }
{% endschema %}
