
{% for product in collections[section.settings.IDDELACOLLECTION].products %}
  <div class="mySlides fade" >
    <img src="{{ product | img_url: '1200x800' }}" style="width:100%" alt="img">
    <div class="text">{{ product.title | escape }} - {{ product.price | money}}</div>
  </div>
{% endfor %}


<style>

</style>
{% schema %}
{
  "name": "Mix and match",
  "settings": [
    {
      "id": "product",
      "type": "product",
      "label": "Produit"
    }
  ],
  "presets": [
    {
      "name": "Mix and Match",
      "category": "iim"
    }
  ]
}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}